body {
  background: red !important;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #2a2a2a, #0b0b0b);
  color: white;
}

.vote-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-container {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

h1 {
  font-weight: 900;
  letter-spacing: 0.5px;
}

.subtitle {
  color: #aaa;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
}

.vote-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.vote-card {
  background: #1c1f26;
  padding: 18px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.25s;
  font-weight: 800;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.vote-card:hover {
  background: #ffd700;
  color: black;
  transform: translateY(-4px);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffd700;
}
