body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #2a2a2a, #0b0b0b);
  color: white;
}

.vote-body {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.vote-container {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

h1 {
  margin-bottom: 5px;
}

.subtitle {
  color: #aaa;
  margin-bottom: 30px;
}

.vote-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.vote-card {
  background: #1c1f26;
  padding: 18px;
  border-radius: 14px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.25s;
}

.vote-card:hover {
  background: #ffd700;
  color: black;
  transform: translateY(-4px);
}
